<!DOCTYPE html>
<html refix="og: http://ogp.me/ns#" lang="en-US" dir="ltr">
    <!-- Loading effect -->
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title> Home </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <!--<link rel="stylesheet" href="../../static/style.css">
        <script src="../../static/script.js"></script> --> 
        <!-- Tải chat box -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    </head>

<body>
    <header style="position: sticky; top: 0px; z-index:2; text-align:left">
        <ul> 
            <li style="float: left"><a href="home.html" class="btn">Trang chủ</a></li>
            <li style="float: left"><a href="cosoyte.html" class="btn">Lịch sử</a></li>
            <li style="float: left"><a href="cosoyte.html" class="btn">Cẩm nang</a></li>
            <li style="float: left"><a href="home.html" class="btn">Bản đồ</a></li>
        </ul>
    </header>

    <div id="loading-overlay" style="display: none">
        <div class="loader"></div>
    </div>

    <!-- Overview -->
    <!-- Part 1: Background Image with Text, the bg img is in style.css -->
    <div class="background-section">
        <div class="text-overlay">Chăm sóc da</div>
    </div>

    <!-- Part 2: Two-column layout with text and image -->
    <div class="content-section">
        <div class="text-block">Thực trạng</div>
        <div class="image-block">
            <img src="/images/..image4.jpg" alt="Example Image">
        </div>
    </div>

    <!-- Warming -->
    <div class="wrapper" > 
        <section class="warming"> 
            <h2>Chú ý!</h2>
            <u1>
                <li>Chụp ảnh trong điều kiện ánh sáng tốt</li>
                <li>Mang điện thoại đến gần vùng cần chẩn đoán</li>
                <li>Giữ điện thoại một lúc để ảnh có thể được lấy nét</li>
                <li>Tránh nền quá nhiều để đạt được kết quả chính xác nhất</li>
            </u1>
        </section>
    </div>

    <!-- Container chứa take_image và myForm-->
    <section class="container" style="margin-top: 10px;">
        <div id="left" style="margin-left: 3px; display: flex; flex-direction: column; align-items: center;">
            <h1 style="font-size: 60px; text-align: center; margin-bottom: 10px;">
                Vùng bệnh
            </h1> <!-- Adjusted margin-bottom -->
            <input id="upload-input" type="file" accept="image/*" style="display:none;" />
            <button 
                id="upload-button" 
                style="padding: 10px 20px; background-color: #f9cebd; color: white; border: none; border-radius: 10px; cursor: pointer; margin-top: 10px; margin-bottom: 10px;" 
                onclick="document.getElementById('upload-input').click();">
                Tải ảnh lên
            </button> <!-- Adjusted margin-top -->
            <div id="preview" style="border: 2px solid black; margin-left: 5px; width: 300px; height: 300px; display: flex; align-items: center; justify-content: center;"></div>
        </div>
        <div id="myForm" style="margin-left: 8px; display: flex; flex-direction: column; align-items: center;">
            <h1 style="margin-top: 3rem; font-size: 60px; text-align: center;">Triệu chứng</h1>
            <form action="http://127.0.0.1:5000" style="display: flex; flex-direction: column; align-items: flex-start;">
                <div><input type="checkbox" id="opt1" name="opt1" value="mụn trứng cá" /><label for="opt1" style="font-size: 20px;">Nổi mụn đỏ nhỏ hoặc đóng vảy</label></div>
                <div><input type="checkbox" id="opt2" name="opt2" value="mụn trứng cá" /><label for="opt2" style="font-size: 20px;">Nổi mụn nhọt (mụn mủ)</label></div>
                <div><input type="checkbox" id="opt11" name="opt11" value="mụn trứng cá" /><label for="opt11" style="font-size: 20px;">Nổi khối u lớn, cứng, gây đau dưới da</label></div>
                <div><input type="checkbox" id="opt12" name="opt12" value="mụn trứng cá" /><label for="opt12" style="font-size: 20px;">Nổi mụn ở mặt, ngực, lưng trên hoặc vai</label></div>
                <div><input type="checkbox" id="opt3" name="opt3" value="viêm da" /><label for="opt3" style="font-size: 20px;">Vùng da ngứa ngáy, đau rát</label></div>
                <div><input type="checkbox" id="opt4" name="opt4" value="viêm da" /><label for="opt4" style="font-size: 20px; margin-left: 2px;">Nổi mảng đỏ ngứa, rỉ nước, đóng vảy</label></div>
                <div><input type="checkbox" id="opt5" name="opt5" value="viêm da" /><label for="opt5" style="font-size: 20px;">Vùng da bị đỏ, viêm hoặc sưng</label></div>
                <div><input type="checkbox" id="opt6" name="opt6" value="viêm da" /><label for="opt6" style="font-size: 20px; margin-left: 2px;">Mảng da khô, sần sùi, có vảy, bong tróc</label></div>
                <div><input type="checkbox" id="opt7" name="opt7" value="nấm da" /><label for="opt7" style="font-size: 20px; margin-left: 2px;">Nổi mẩn đỏ hoặc mụn nước hình vòng</label></div>
                <div><input type="checkbox" id="opt8" name="opt6" value="nấm da" /><label for="opt8" style="font-size: 20px; margin-left: 2px;">Phần rìa quanh vùng bệnh khô, bong tróc</label></div>
                <div><input type="checkbox" id="opt9" name="opt9" value="nấm da" /><label for="opt9" style="font-size: 20px; margin-left: 2px;">Vùng da ngứa ngáy, gây khó chịu</label></div>
            </form>
        </div>
    </section>
    
    <div id="action-buttons">
        <button id="use-button">Bắt đầu chẩn đoán</button>
    </div>

    <!-- Display result-->
    <div id="output" style="display: column; justify-content: space-around; margin-top: 20px;">
        <!-- Images will be added here -->
    </div>

    <!-- Chat box -->
    <div id="chat-icon">
        <i class="fas fa-comments"></i>
    </div>

    <div id="chat-box" style="z-index: 3; display: none; ">
        <div id="chat-header"> Tư ván<button id="close-button">&#10006;</button></div>
        <div id="chat-content"></div>
        <input type="'text" id="user-input" placeholder="Nhập câu hỏi của bạn...">
        <button id="send-button">Gủi</button>
    </div>

    
    

</body>

</html>
