body {
    font-family: Cambria;
}

header {
    display: flex;
    background-color: black;
    padding: 0% 1% 0% 1%;
    text-align: center;
    position: sticky;
    z-index: 2;
}

h1 {
    display: block;
    font-size: 100%;
    font-weight: bold;
    margin: 1%;
}

.warning {
    display: flex;
    width: 80%;
    background-color: #ffffe6;
    border: 1px solid #ddd;
    font-size: 100%;
    justify-content: center;
    margin-top: 4%;
    border-radius: 20px;
}

/* Section 1: Input */
.data {
    display: flex;
    justify-content: space-around;
}

.anh {
    text-align: center;
}

#preview {
    width: 300px;
    height: 300px;
    margin-top: 5%;
    border: 2px solid black;
}

upload-input[type="button"] {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
/* ============================================================= */


/* Section 2: Output */
.result {
    border: 1px solid black; 
    padding: 20px;           
    border-radius: 50px;           
    box-shadow: 10px 10px 50px rgb(146, 146, 146);
    margin-top: 60px;
    display: none;
    flex-direction: column;
}

.container {
    display: flex;
    flex-wrap:wrap; 
}

.frame {
    border: 1px solid black; 
    padding: 10px;           
    width: fit-content;
    margin: auto;
}

.frame-img {
    width: 250px; 
    height: 250px; 
    margin: 10px;
}

.frame-sm {
    border: 1px solid black; 
    padding: 10px; 
    padding-bottom: 0px;          
    width: fit-content;
    height: fit-content; 
    display: flex;
    flex-direction: column;
    margin: 30px;  
}

.frame-sm-img {
    width: 150px; 
    height: 150px; 
}

p1 {
    display: flex;
    margin: 5px;
    justify-content: center;
}

p2 {
    display: flex;
    margin: 5px;
    justify-content: center;
}
/* ============================================================= */
